*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #217e21;
}
.container{
    aspect-ratio: 1/1;
    /* height: 70%; */
    width: 70%;
    max-width: 760px;
    min-width: 340px;
    background: #e9e0e0;
    /* margin: 20px; */
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    border: 1px solid white;
}
.item1 { background:#00B600 ; }
.item2 { background:#007200 ; }
.item3 { background:#019801 ; }
.item4 { background:#909090 ; }
.item5 { background:#BBBBBB ; }
.item6 { background:#69FF69 ; }
.item7 { background: #3A8D3A; }
.item8 { background: #007200; }
.item9 { background: #007200; }
.item10 { background:#00B600     ; }
.item11 { background: #019801; }
.item12 { background: #3E973E; }
.item13 { background: #006B00; }
.item14 { background: #50C050; }
.item15 { background: #2A652A; }
.item16 { background: #909090; }
.item17 { background:#019801; }
.item18 { background:#242324 ; }
.item19 { background:#242324 ; }
.item20 { background: #5FE85F; }
.item21 { background:#50C050; }
.item22 { background:#242324 ; }
.item23 { background: #242324; }
.item24 { background: #BBBBBB; }
.item25 { background:#019801 ; }
.item26 { background:#242324 ; }
.item27 { background:#000000 ; }
.item28 { background:#3A8D3A; }
.item29 { background: #204D20; }
.item30 { background: #000000; }
.item31 { background:#242324; }
.item32 { background:#3A8D3A; }
.item33 { background: #3B8F3B; }
.item34 { background: #00B600; }
.item35 { background:#5FE85F ; }
.item36 { background:#242324 ; }
.item37 { background:#242324; }
.item38 { background: #BBBBBB; }
.item39 { background: #006B00; }
.item40 { background:#00B600 ; }
.item41 { background:#5FE85F ; }
.item42 { background: #204D20; }
.item43 { background:#242324 ; }
.item44 { background:#000000 ; }
.item45 { background:#000000 ; }
.item46 { background: #242324; }
.item47 { background: #00B600; }
.item48 { background: #BBBBBB; }
.item49 { background: #BBBBBB; }
.item50 { background: #3A8D3A; }
.item51 { background:#000000 ; }
.item52 { background:#000000 ; }
.item53 { background:#000000 ; }
.item54 { background: #000000; }
.item55 { background:#3A8D3A; }
.item56 { background:#006B00 ; }
.item57 { background:#5FE85F ; }
.item58 { background: #00B600; }
.item59 { background:#242324 ; }
.item60 { background:#5FE85F; }
.item61 { background:#00B600 ; }
.item62 { background:#242324 ; }
.item63 { background:#006B00 ; }
.item64 { background: #00B600; }
